@layer utilities {
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .fraunces {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .tracking-extra-wide {
    letter-spacing: 0.3rem;
  }
}
